// ACCESS

.access{
   

    width: 100%;
    background-image: url(../img/accses.jpg);
    background-size: contain;
    color: white;
    text-align: center;

    .title{
        color: #fff;
        font-size: 30px;
        text-align: center;
      }
    
      .subtitle{
          color:#fff;
          font-size:16px;
          text-align: center;
          margin-top:26px; 
          margin-bottom:50px;  
          
      }
      

  .access_title{
    padding: 80px 0px 0px 0px; 
    }

        //googlemap埋め込み
    
        .access_text{
            width:260px;
            height:390px;
            background-color:rgba(255, 255, 255,0.8);
            color:rgb(49, 49, 49);
            font-size: 12px;

        } 

        .access_box{
            display: flex;
        }

            .button{
                position: relative;
                display: inline-block;
                padding: 0 15px;
                width: 350px;
                min-width: 115px;
                height: 60px;
                color: #F6F6F6;
                line-height: 50px;
                text-align: center;
                background: #B01D34;
                border-radius: 60px;
                z-index: 0;
                font-size: 20px;
                margin-top:80px; 
                margin-bottom:140px;  
            }

    
    }

