

@import "src/sass/header.scss";
@import "src/sass/top.scss";
@import "src/sass/youcando.scss";
@import "src/sass/hellowelcom.scss";
@import "src/sass/history.scss";
@import "src/sass/voice.scss";
@import "src/sass/instructor.scss";
@import "src/sass/access.scss";
@import "src/sass/request.scss";
@import "src/sass/footer.scss";




body {
    font-family: "Yu Gothic"; 
    width: 100%;
}


li{
    list-style: none;
    color:white; 
  }

.container {
  width: 100%;
  margin: 0 auto;
}
 

  

//共通mixin
@mixin button{
    position: relative;
    display: inline-block;
    padding: 0 15px;
    width: 350px;
    min-width: 115px;
    height: 60px;
    color: #F6F6F6;
    line-height: 50px;
    text-align: center;
    background: #B01D34;
    border-radius: 60px;
    z-index: 0;
    font-size: 20px;
    }


