.hellowelcome{

   
    widows:100%;
    background-image: url(../img/hello_bg.png);
    background-size: cover;

    
    .line{
        height: 7px;
        width: 64px;
        background-color:#B01D34;
    }

    .title{
        color: #434343;
        font-size: 30px;
        text-align: center;
       
      }
    
      .subtitle{
          color:#434343;
          font-size:16px;
          text-align: center;
          margin-top:26px; 
          margin-bottom:50px;  
      }


        .hellowelcome_text{
            color:#434343;
            font-size:15px;
            text-align: center;
            margin: 30px 0px 40px; 
          }

          .hello_title_text{
            padding: 41px 0px 68px 0px; 
        }
        


    .hellowelcome_section{
        
        padding-top: 40px;
    }

    .hellowelcome_section1{
        display: -webkit-flex;
        display: flex;

       
    }
    .hellowelcome_section2{
        display: -webkit-flex;
        display: flex;
       
    }
    
    .section{
         text-align: center;
         
    }


    .text_1{
        margin-bottom: 60px; 
    }

    .text_4{
        margin-bottom: 80px; 
    }

    .section_1_img{
        margin-bottom: 30px; 
    }

    .section_2_img{
        margin:0px 90px 30px; 
    }

    .section_3_img{
        margin-bottom: 30px; 
    }
    .section_4_img{
        margin-bottom: 30px; 
    }
    .section_5_img{
        margin:0px 90px 30px; 
    }
  .section_6_img{
        margin-bottom: 30px; 
    }
    
}




.point_box1{

    padding-top: 45px;
    height: 293px;
    width: 980px;
    margin: 0 auto;
    background-color:#fff;
    display: flex;
    margin-bottom:30px; 
}

.point_box2{

    padding-top: 45px;
    height: 293px;
    width: 980px;
    margin: 0 auto;
    background-color:#fff;
    display: flex;
    margin-bottom:30px; 
}

.point_box3{

    padding-top: 45px;
    height: 293px;
    width: 980px;
    margin: 0 auto;
    background-color:#fff;
    display: flex;
}

.point_01{

    .point_01_subtitle{
        font-size:24px;
        color:#594441;
    }
}

.point_02{
    .point_02_subtitle{
        font-size:24px;
        color:#594441;
    } 
}

.point_03{
    .point_03_subtitle{
        font-size:24px; 
        color:#594441;
    }
}




