
//HISTORY

.history{
 
    width: 100%;
    background-image: url(../img/history.png);


    .history_title{
        padding: 80px 0px 50px 0px; 
        }


.section{
    width:300px;
    height:230px;
    background: #fff;
    text-align: center;
    margin: 0px 38px 60px 0px; 
    
    }
    .button{
        position: relative;
        display: inline-block;
        padding: 0 15px;
        width: 350px;
        min-width: 115px;
        height: 60px;
        color: #F6F6F6;
        line-height: 60px;      //全体ボタンここ変更
        text-align: center;
        background: #B01D34;
        border-radius: 60px;
        z-index: 0;
        font-size: 20px;
        margin-bottom: 128px; 
        margin-top: 60px; 
    }
.button_center{
    display: flex;    
    justify-content: center;
    align-items: center;
}

.sbutton{
    // display: flex;    
    // justify-content: center;
    // align-items: center;

     position: relative;
    display: inline-block;
    padding: 0 15px;
    width: 350px;
    min-width: 115px;
    height: 60px;
    color: #F6F6F6;
    line-height: 50px;
    text-align: center;
    background: #B01D34;
    border-radius: 60px;
    z-index: 0;
    font-size: 20px;
}
//全てのボタンに上のcss適用する

}

.history_section1{
  display: flex;    
  justify-content: center;
  align-items: center;
    
}

.history_section2{
    display: flex;       
    justify-content: center;
    align-items: center;
      
  }

.title{
    color: #434343;
    font-size: 30px;
    text-align: center;
  }

  .subtitle{
      color:#434343;
      font-size:16px;
      text-align: center;
      margin-top:26px; 
      margin-bottom:50px;  
  }

  .history_title{
    padding: 80px 0px 50px 0px; 
    }






