// INSTRUCTOR




.instructor{
  
    width: 100%;
    background-image: url(../img/instructor.png);



    .title{
        color: #434343;
        font-size: 30px;
        text-align: center;
      }
    
      .subtitle{
          color:#434343;
          font-size:16px;
          text-align: center;
          margin-top:26px; 
          margin-bottom:50px;   
      }

      .instructor_title{
        padding: 80px 0px 50px 0px; 
        }

        .goto_a{
            display: flex;          
            justify-content: center;
            align-items: center;
        }

        .yasui_a{
            display: flex;          
            justify-content: center;
            align-items: center;
        }
      
      .goto{
            display: flex;  
            margin-bottom:30px;   
           
        }
      .yasui{
        display: flex;  
        margin-bottom:176px;      
   
        }

        .goto_text{
            width:300px;
            height:233px;
            background: #F6F6F6;
            text-align: center;
            position: relative;
        }

        .yasui_text{
            width:300px;
            height:233px;
            background:#F6F6F6;
            text-align: center;
            position: relative;
            
        }

        .name_box{
            width:10px;
            height:4px;
            background:#B01D34;
      
        }


        .goto_name{
            font-size:18px;
        }
        .goto_name_r{
            font-size:12px;
        }
        .goto_text{
            font-size:14px;
            line-height:2;
        }

        .yasui_name{
            font-size:18px;
        }
        .yasui_name_r{
            font-size:12px;
        }
        .yasui_text{
            font-size:14px;
            line-height:2;
        }
    
    }
