.top{  
    height: 924;
    padding: 180px 0 400px 0;
    background-image: url(../img/top_bg.jpg);
    background-size: contain;
    color: white;
    text-align: center;

    .top_logo{
        padding-top: 312px;
    }
    .top_text{
        padding-top: 53px;
        line-height:2;
        letter-spacing:7px;
    }
}
